<!-- @Author--Bibek Rawat -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Housing Price Prediction</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
</head>

<body>
  <header id="head1">
    <div id="titlepage">
      <h2>Housing price Prediction in Beijing</h2>
    </div>
  </header>
  <style>
    body {
      background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.oulu.fi%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ffull_width%2Fpublic%2Fcontent-images%2FMachine5G.jpg%3Fitok%3DpZUU03tW&f=1&nofb=1");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <div class="container-fluid">
    <!-- input for machine learning model -->
    <form action="/" method="POST">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">

            <br />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label"></label>
                  <input name="tradetime" class="form-control" id="tradetime" placeholder="Trade Time In Year" />
                </div>
                <div class="col-md-3">
                  <label class="form-label"></label>
                  <input name="followers" class="form-control" id="followers" placeholder="Followers" />
                </div>
                <div class="col-md-3">
                  <label class="form-label"></label>
                  <input name="square" class="form-control" id="square" placeholder="Square" />
                </div>
                <div class="col-md-3">
                  <label class="form-label"></label>
                  <input name="livingroom" class="form-control" id="livingroom" placeholder="Living Room" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="form-label"></label>
              <input name="drawingroom" class="form-control" id="drawingroom" placeholder="Drawing Room" />
            </div>
            <div class="col-md-3">
              <label class="form-label"></label>
              <input name="kitchen" class="form-control" id="kitchen" placeholder="Kitchen" />
            </div>
            <div class="col-md-3">
              <label class="form-label"></label>
              <input name="bathroom" class="form-control" id="bathroom" placeholder="Bath Room" />
            </div>
            <div class="col-md-3">
              <label class="form-label"></label>
              <input name="constructiontime" class="form-control" id="constructiontime"
                placeholder="Construction Time In Year" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="form-label"></label>
              <input name="communityaverage" class="form-control" id="communityaverage"
                placeholder="Community Average" />
            </div>
            <div class="col-md-3">
              <label class="form-label"></label>
              <select id="inputState" name="renovationcondition" type="text" class="form-select">
                <option selected value="renovationCondition_1">
                  Renovation Condition other
                </option>
                <option value="renovationCondition_2">
                  Renovation Condition Rough
                </option>
                <option value="renovationCondition_3">
                  Renovation Condition Simplicity
                </option>
                <option value="renovationCondition_4">
                  Renovation Condition Hard Cover
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label"></label>
              <select id="inputState" name="buildingstructure" type="text" class="form-select">
                <option selected value="buildingStructure_1">
                  Building Structure Unknown
                </option>
                <option value="buildingStructure_2">
                  Building Structure Mixed
                </option>
                <option value="buildingStructure_3">
                  Building Structure Brick And Wood
                </option>
                <option value="buildingStructure_4">
                  Building Structure Brick And Concrete
                </option>
                <option value="buildingStructure_5">
                  Building Structure Steel
                </option>
                <option value="buildingStructure_6">
                  Building Structure Steel Concrete Composite
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label"></label>
              <select id="inputState" name="elevator" type="text" class="form-select">
                <option selected value="elevator_0">Elevator (No)</option>
                <option value="elevator_1">Elevator (Yes)</option>
              </select>
            </div>
          </div>
          <br>
          <button id="btn" type="submit" class="btn btn-primary btn-block">
            Predict
          </button>
          <!-- For Result -->
          <div class="row">
            <div class="col-md-12">
              <br>
              {% if results %}
              <h3 id="price">Price Is ${{results}}K</h3>
              {% else %}
              {% endif %}
            </div>
          </div>
          <!-- Author Details -->
          <br />
          <div>

            <h5 id="auth">Authors Details</h5>
            <div class="row">
              <div class="col-md-6">
                <p>Harsha <br>(18BCS6728) (Team Lead)</p>
              </div>
              <div class="col-md-6">
                <p>Arya <br>(18BCS6537)</p>
              </div>
              <div class="col-md-6">
                <p>Chitra <br>(18BCS1703)</p>
              </div>
              <div class="col-md-6">
                <p>Divya <br>(18BCS6588)</p>
              </div>
            </div>

          </div>
          <br><br>
          <div>
            <a href="https://github.com/bibek376/Housing_Price_Prediction" id="link">View Project on GitHub</a>
          </div>
          <br><br><br><br>
        </div>
    </form>
    <br><br>
    <div class="col-md-1"></div>
    <footer id="f1">
      <p id="cop">
        Copyright © 2021
      </p>
      <p id="cop">All rights reserved</p>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>